.button{
    padding: 0px 20px;
    width: 19.40%;
    height: 60px;
    text-align: center;
    background-color: white;
    margin:0px;
    
}
#display-box{
    width:80%;
    height: 80px;
    border: 1px solid gray;
}
body{
    background-color: rgb(182, 244, 248);}
    #c{
        width: 39.6%;
        background-color: tomato;
        height: 80px;
    }
    #equal-sign{
        width: 39.6%;
        background-color: yellow;
        height: 80px;
    }
    #division{
        background-color: skyblue ;
    }
    #mul{
        background-color: slategray;
    }
    #sum{
        background-color: skyblue;
    }
    #sub{
        background-color: slategray;
    }
    .marginn{
        margin-top: 150px;
        margin-bottom: 20px;
    }